* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.top {
  height: 1024px;
  background-image: url(img/top.1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top__content {
  max-width: 60%;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;
  padding-top: 218px;
}

.title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
  color: #FFFFFF;
  background-color: transparent;
  padding-top: 32px;
}

.header__button {
  width: 235px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-top: 44px;
}

.header__button:focus {
  outline-color: transparent;
  outline-style: solid;
}

.header__button::-moz-placeholder {
  font-family: Montserrat;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding-left: 74px;
}

.header__button::placeholder {
  font-family: Montserrat;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding-left: 74px;
}

.games {
  background-image: url(img/top.2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.games__game {
  height: 300px;
  grid-column: span 4;
  margin-top: 128px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 32px;
  padding-bottom: 32px;
}

.center {
  padding-left: 120px;
  padding-right: 120px;
}

.games__game_1 {
  background-image: url(img/top.3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.games__game_2 {
  background-image: url(img/top.4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.games__game_3 {
  background-image: url(img/top.5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.main__about_game {
  background-image: url(img/top_6.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 135px;
}

.about_game {
  display: flex;
  width: 584px;
  gap: 32px;
  flex-wrap: wrap;
}

.about_game__title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
}

.about_game__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

.about_game__img {
  width: 485px;
  height: 333px;
}

.img {
  width: 100%;
}

.about_game__button {
  width: 235px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.about_game__button:focus {
  outline-color: transparent;
  outline-style: solid;
}

@media (min-width: 320px) and (max-width: 768px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
  }
  .header__title {
    font-size: 32px;
    text-align: center;
  }
  .title {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .games {
    display: flex;
    flex-direction: column;
    gap: 32px;
    transition: all 0.3s ease-in-out;
    height: 1221px;
    justify-content: center;
  }
  .games__game {
    width: 100%;
    padding-left: 0;
    margin-top: 0;
  }
  .main__about_game {
    flex-wrap: wrap;
    height: 654px;
    display: flex;
    align-content: center;
    gap: 64px;
  }
  .about_game {
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 334;
  }
  .about_game__img {
    align-items: center;
    width: 100%;
  }
  .about_game__title {
    font-size: 32px;
    line-height: 39px;
  }
  .about_game__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: 343px;
  }
  .about_game__button {
    transition: all 0.3s ease-in-out;
  }
  .about_game__button:active {
    transform: scale(1.02);
  }
}/*# sourceMappingURL=style.css.map */