* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top {
    height: 1024px;
    background-image: url(img/top.1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.header__title {
    display: flex;
    width: 788px;
    height: 125.007px;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 218px;
    margin-bottom: 32px;
    

}

.title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
    background-color: transparent;
    width: 481px;
    margin-top: 32px;
    margin-bottom: 44px;
    

}

.header__input {
    width: 234.063px;
    height: 48.603px;
    border-radius: 30px;
    background: #9C0332;
    outline: none;
    font-size: 18px;
    font-weight: 400;

}

.header__input:focus {
    outline-color: transparent;
    outline-style: solid;
}

.header__input::placeholder {
    font-family: Montserrat;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding-left: 74px;

}

.for {
    height: 556px;
    background-image: url(img/top.2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    
}

.for_item {
    height: 300px;
    grid-column: span 4;
    margin-top: 128px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 32px;
    padding-bottom: 32px;

}

.center {
    padding-left: 120px;
    padding-right: 120px;
}

.for_item_1 {
    background-image: url(img/top.3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;

}

.for_item_2 { 
    background-image: url(img/top.4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.for_item_3 { 
    background-image: url(img/top.5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

@import 'mobile';